* {
    font-family: sans-serif
}

.navbar-light .navbar-brand {
    background-color: rgb(78, 179, 179);
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(231, 231, 231);
}

.navbar {
    margin-bottom: 100px;
}

.jumbotron {
    margin: 10px 0px 50px 20px;
    background-color: white;
}

.display-4 {
    margin-top: -30px;
    font-size: 40px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(78, 179, 179);
}

footer {
    background-color: darkgray;
    color: lightgrey;
    text-align: center;
}

footer p {
    margin: 0;
}

footer hr {
    height: 5px;
    background-color: rgb(78, 179, 179);
}

.form-control {
    width: 80%;
}

.btn, .btn-primary {
    background-color: rgb(78, 179, 179);
    border-color: rgb(78, 179, 179);
}

@media screen and (max-width: 768px) {
    .jumbotron {
        max-width: 450px;
    }

@media screen and (max-width: 400px) {
    .jumbotron {
        margin: 10px 10px 50px 10px;
        max-width: 95%;
    }

    .display-4 {
        padding-top: 20px;
    }

    form, .form-control {
        padding-left: 20px;
        width: 95%;
    }