* {
    font-family: sans-serif
}

.navbar-light .navbar-brand {
    background-color: rgb(78, 179, 179);
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(231, 231, 231);
}

.navbar {
    margin-bottom: 100px;
}

.jumbotron {
    margin: 10px 0px 50px 20px;
    background-color: white;
}

.display-4 {
    margin-top: -30px;
    font-size: 40px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(78, 179, 179);
}

.placeholder {
    float: left;
    padding-right: 25px;
}

footer {
    background-color: darkgray;
    color: lightgrey;
    text-align: center;
}

footer p {
    margin: 0;
}

footer hr {
    height: 5px;
    padding-top: -10px;
    background-color: rgb(78, 179, 179);
}

.placeholderport {
    padding: 19px;
    float: left;
    position: relative;
}

.form-control {
    width: 80%;
}

.btn, .btn-primary {
    background-color: rgb(78, 179, 179);
    border-color: rgb(78, 179, 179);
}

@media screen and (max-width: 992px) {
    .jumbotron {
        max-width: 61.6%;
        margin-left: 35px;
    }
}

@media screen and (max-width: 768px) {
    .jumbotron {
        max-width: 450px;
        margin-left: 35px;
    }

@media screen and (max-width: 400px) {
    .jumbotron {
        max-width: 87.5%;
        margin-left: 25px;
    }

    .display-4 {
        padding-top: 20px;
    }